In [1]:
#load the dataset
import pandas as pd
df = pd.read_csv('salaries.csv')
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [5]:
#Extract dependent and independent variables from the dataset
inputs = df.drop('salary_more_then_100k', axis = 1)
target = df.salary_more_then_100k
inputs.head()

  company                  job     degree
0  google      sales executive  bachelors
1  google      sales executive    masters
2  google     business manager  bachelors
3  google     business manager    masters
4  google  computer programmer  bachelors

In [7]:
#pre-processing or scaling the dataset
from sklearn.preprocessing import LabelEncoder
#create label encoder for each feature
company_le = LabelEncoder()
job_le = LabelEncoder()
degree_le = LabelEncoder()

In [8]:
inputs['company_n'] = company_le.fit_transform(inputs['company'])
inputs['job_n'] = job_le.fit_transform(inputs['job'])
inputs['degree_le'] = degree_le.fit_transform(inputs['degree'])

inputs.head()

  company                  job     degree  company_n  job_n  degree_le
0  google      sales executive  bachelors          2      2          0
1  google      sales executive    masters          2      2          1
2  google     business manager  bachelors          2      0          0
3  google     business manager    masters          2      0          1
4  google  computer programmer  bachelors          2      1          0

In [11]:
inputs = inputs.drop(['company', 'job', 'degree'], axis = 1)
inputs.head()

   company_n  job_n  degree_le
0          2      2          0
1          2      2          1
2          2      0          0
3          2      0          1
4          2      1          0

In [12]:
#create and train the decision tree
from sklearn import tree
model = tree.DecisionTreeClassifier()
model.fit(inputs, target)

DecisionTreeClassifier()

In [13]:
model.score(inputs, target)

1.0

<h3>Is salary of Google, Computer Engineer, Bachelors degree > 100 k ?</h3>

In [14]:
model.predict([[2,1,0]])

array([0], dtype=int64)

<h3>Is salary of Google, Computer Engineer, Masters degree > 100 k ?</h3>

In [15]:
model.predict([[2, 1, 1]])

array([1], dtype=int64)